<header class="header">
  <img src="../assets/images/text_logo.png" alt="Par 68 golf text logo" style="height: 100%;">
  <img src="../assets/images/golf_guy_logo.png" alt="Par 68 golf logo" style="height: 100%;">
</header>

<div class="container">
  <div class="company-name">Par 68 Golf</div>
  <small>by Kevin Connole</small>
  <div class="message" style="margin-top: 25px;">Website under construction!</div>
  <p>In the meantime, you can schedule appointments with the link below</p>
  <a href="https://my.pga.com/coach/kevinconnole/schedule" class="link" target="_blank">Schedule an Appointment</a>
  <p style="margin-top: 20px;">For questions, feel free to contact me directly:</p>
  <p class="email">Email: <a href="mailto: par68golf@gmail.com">par68golf@gmail.com</a></p>
  <!-- <button class="btn btn-primary" (click)="copyText('par68golf@gmail.com')">Copy Email</button> -->
  <p class="email">Phone: <a href="tel: 4808616508">(480) 861-6508</a></p>
</div>